body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: rgb(255, 255, 249);
    margin: 0.5em;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color:rgb(29, 29, 143);
}

h2{
    color:rgb(24, 34, 107);
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.parrafo {
    color: rgb(142, 161, 161);
}

/*Redes Sociales*/
#redes{
    text-align: center;
}

/*legales*/
.legales{
    color: rgb(173, 177, 180);
}
